@using TRS.Models
@model DateViewModel

@{
    ViewData["Title"] = "Month activities";
}

<h1>@ViewData["Title"]</h1>


@using(Html.BeginForm()) {
    @Html.TextBoxFor(model => model.date, new {type = "month"})
    <input type = "submit" value = "Show"/>
}

<table class = "table">
    <thead>
        <tr>
            <td>User</td>
            <td>Date</td>
            <td>Code</td>
            <td>Subcode</td>
            <td>Time</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Report report in ViewBag.Reports.reports) {
            @foreach (var entry in report.entries) {
                <tr>
                    <td>@report.username</td>
                    <td>@entry.date.ToShortDateString()</td>
                    <td>@entry.code</td>
                    <td>@entry.subcode</td>
                    <td>@entry.time</td>
                    <td>@entry.description</td>

                    <td><button class = "btn btn-primary" asp-route-id = "@entry.code">Zmien</button></td>
                    <td><button class = "btn btn-primary">Skasuj</button></td>
                </tr>   
            }   
        }
    </tbody>
</table>