@using TRS.Models
@model Reports

<table class = "table">
    <thead>
        <tr>
            <td>User</td>
            <td>Date</td>
            <td>Code</td>
            <td>Subcode</td>
            <td>Time</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Report report in Model.reports) {
            @foreach (var entry in report.entries) {
                <tr>
                    <td>@report.username</td>
                    <td>@entry.date.ToShortDateString()</td>
                    <td>@entry.code</td>
                    <td>@entry.subcode</td>
                    <td>@entry.time</td>
                    <td>@entry.description</td>

                    @if (ViewBag.IsEditable == null || ViewBag.IsEditable) {
                    <form><td>
                    @Html.ActionLink(
                        linkText: "Edit",
                        controllerName: "Projects",
                        actionName: "UpdateActivity",
                        routeValues: new { date = @entry.date.ToString("dd-MM-yyyy"), code = @entry.code}
                    )
                    </td></form>
                    <form><td>
                    @Html.ActionLink(
                        linkText: "Delete",
                        controllerName: "Projects",
                        actionName: "DeleteActivity",
                        routeValues: new { date = @entry.date.ToString("dd-MM-yyyy"), code = @entry.code}
                    )
                    </td></form>
                    }
                </tr>   
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Reported time sum:</td>
                <td>@report.reportedTimeSum</td>
            </tr>
        }
    </tbody>
</table>